<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy.user.mapper.mysql.user.UserHealthDataMapper">

<!--  表列名  -->
    <sql id="columns">
        id,
        user_id,
        time,
        hypertension,
        high_cholesterol,
        bmi,
        smoking,
        stroke,
        physical_activity,
        fruit_consumption,
        vegetable_consumption,
        heavy_drinking,
        any_healthcare,
        no_medical_expense,
        general_health_status,
        mental_health,
        physical_health,
        walking_difficulty,
        gender,
        age,
        education_level,
        income
    </sql>

    <insert id="insert">
        INSERT INTO user_health_data (
        <include refid="columns"/>
        ) VALUES (
        #{id},
        #{userId},
        #{time},
        #{hypertension},
        #{highCholesterol},
        #{bmi},
        #{smoking},
        #{stroke},
        #{physicalActivity},
        #{fruitConsumption},
        #{vegetableConsumption},
        #{heavyDrinking},
        #{anyHealthcare},
        #{noMedicalExpense},
        #{generalHealthStatus},
        #{mentalHealth},
        #{physicalHealth},
        #{walkingDifficulty},
        #{gender},
        #{age},
        #{educationLevel},
        #{income}
        )
    </insert>
    <update id="update">
        UPDATE user_health_data
        SET
        time = #{time},
        hypertension = #{hypertension},
        high_cholesterol = #{highCholesterol},
        bmi = #{bmi},
        smoking = #{smoking},
        stroke = #{stroke},
        physical_activity = #{physicalActivity},
        fruit_consumption = #{fruitConsumption},
        vegetable_consumption = #{vegetableConsumption},
        heavy_drinking = #{heavyDrinking},
        any_healthcare = #{anyHealthcare},
        no_medical_expense = #{noMedicalExpense},
        general_health_status = #{generalHealthStatus},
        mental_health = #{mentalHealth},
        physical_health = #{physicalHealth},
        walking_difficulty = #{walkingDifficulty},
        gender = #{gender},
        age = #{age},
        education_level = #{educationLevel},
        income = #{income}
        WHERE id = #{id}
    </update>
    <delete id="deleteByUserId">
        DELETE FROM user_health_data WHERE user_id = #{userId}
    </delete>
    <select id="findByUserId" resultType="com.czy.api.domain.Do.user.UserHealthDataDo">
        SELECT
        <include refid="columns"/>
        FROM user_health_data
        WHERE user_id = #{userId}
    </select>
</mapper>