<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy.post.mapper.mysql.PostCollectMapper">

    <sql id="doColumns">
        id,
        post_id,
        collect_folder_id
    </sql>
    <sql id="insertDoColumns">
        (<include refid="doColumns"/>)
    </sql>
    <insert id="savePostCollect">
        INSERT INTO post_collect
        <include refid="insertDoColumns"/>
        VALUES
        (#{id}, #{postId}, #{collectFolderId})
    </insert>
    <update id="updatePostCollect">
        UPDATE post_collect
        SET
        post_id = #{postId},
        collect_folder_id = #{collectFolderId}
        WHERE id = #{id}
    </update>
    <delete id="deletePostCollect">
        DELETE FROM post_collect WHERE id = #{id}
    </delete>
    <delete id="deletePostCollectsByCollectFolderId">
        DELETE FROM post_collect WHERE collect_folder_id = #{collectFolderId}
    </delete>
    <delete id="deletePostCollectByPostIdAndCollectFolderId">
        DELETE FROM post_collect
               WHERE post_id = #{postId}
                 AND collect_folder_id = #{collectFolderId}
    </delete>
    <select id="findPostCollectById" resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_collect
        WHERE id = #{id}
    </select>
    <select id="findPostCollectsByCollectFolderId"
            resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_collect
        WHERE collect_folder_id = #{collectFolderId}
    </select>
    <select id="findPostCollectByPostIdAndFolderId"
            resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_collect
        WHERE post_id = #{postId}
          AND collect_folder_id = #{collectFolderId}
    </select>
    <select id="findPostCollectsByIdList" resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_collect
        WHERE id IN
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>
    <!-- 通过userId查询，联表查询 （未测试：2025/7/24）-->
    <select id="findPostCollectsByUserId" resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
            pc.id AS id,
            pc.post_id AS postId,
            pc.collect_folder_id AS collectFolderId
        FROM post_collect pc
            LEFT JOIN post_collect_folder pcf
            ON pc.collect_folder_id = pcf.id
        WHERE pcf.user_id = #{userId}
    </select>
    <select id="findPostCollectsByUserIdPaging" resultType="com.czy.api.domain.Do.post.collect.PostCollectDo">
        SELECT
            pc.id AS id,
            pc.post_id AS postId,
            pc.collect_folder_id AS collectFolderId
        FROM post_collect pc
            LEFT JOIN post_collect_folder pcf
            ON pc.collect_folder_id = pcf.id
        WHERE pcf.user_id = #{userId}
        LIMIT #{pageNum} * #{pageSize}, #{pageSize}
    </select>
</mapper>