<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy.post.mapper.mysql.PostFilesMapper">
    <sql id="doColumns">
        id,
        post_id,
        file_id
    </sql>
    <sql id="insertDoColumns">
        (<include refid="doColumns"/>)
    </sql>
    <insert id="insertPostFilesDo" parameterType="com.czy.api.domain.Do.post.post.PostFilesDo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_files
        <include refid="insertDoColumns"/>
        VALUES
        (#{id}, #{postId}, #{fileId})
    </insert>
    <insert id="insertPostFilesDoList">
        INSERT INTO post_files
        <include refid="insertDoColumns"/>
        VALUES
        <foreach collection="list" item="item" index="index" open="(" separator="),(" close=")">
            #{item.id}, #{item.postId}, #{item.fileId}
        </foreach>
    </insert>
    <update id="updatePostFilesDoById">
        UPDATE post_files
        SET
        post_id = #{postId},
        file_id = #{fileId}
        WHERE id = #{id}
    </update>
    <update id="updatePostFilesDoByPostDo">
        UPDATE post_files
        SET
        post_id = #{postId},
        file_id = #{fileId}
        WHERE post_id = #{postId}
    </update>
    <update id="updatePostFilesDoByPostDos">
        <foreach collection="list" item="item">
            UPDATE post_files
            SET
            post_id = #{item.postId},
            file_id = #{item.fileId}
            WHERE post_id = #{item.postId};
        </foreach>
    </update>
    <delete id="deletePostFilesDoById">
        DELETE FROM post_files WHERE id = #{id}
    </delete>
    <delete id="deletePostFilesDoByIdList">
        DELETE FROM post_files WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="getPostFilesDoListByPostId" resultType="com.czy.api.domain.Do.post.post.PostFilesDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_files
        WHERE post_id = #{postId}
    </select>
    <select id="getPostFilesDoById" resultType="com.czy.api.domain.Do.post.post.PostFilesDo">
        SELECT
        <include refid="doColumns"/>
        FROM post_files
        WHERE id = #{id}
    </select>

</mapper>