<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.post.mybatis.bo.PostCommentBoMapper">

    <select id="getCommentBoById" resultType="com.czy.api.domain.bo.post.CommentBo">
        SELECT
            cmu.avatar_file_id AS avatarFileId,
            cmu.user_name AS userName,
            rplu.user_name AS replyUserName,

            pc.timestamp AS commentTimestamp,
            pc.content AS commentContent,

            pc.id AS commentId,
            pc.reply_comment_id AS parentCommentId,
            pc.post_id AS postId,
            pc.commenter_id AS commenterId

        FROM post_comment AS pc
        LEFT JOIN login_user AS cmu ON pc.commenter_id = cmu.id
        LEFT JOIN post_comment AS reply_comment ON pc.reply_comment_id = reply_comment.id -- 避免使用子查询
        LEFT JOIN login_user AS rplu ON reply_comment.commenter_id = rplu.id
        WHERE pc.id = #{commentId}
    </select>
    <select id="getCommentBoByIdList" resultType="com.czy.api.domain.bo.post.CommentBo">

    </select>
</mapper>