<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.purchase.mybatis.UserWalletMapper">

    <sql id="tableName">user_wallet</sql>

    <sql id="doColumns">
        id, user_id, balance
    </sql>

    <insert id="insert">
        insert into
        <include refid="tableName"/>
        (<include refid="doColumns"/>)
        values (#{id}, #{userId}, #{balance})
    </insert>

    <update id="userRecharge">
        update
        <include refid="tableName"/>
        set balance = balance + #{rechargeAmount}
        where user_id = #{userId}
    </update>
    <update id="deduct">
        update
        <include refid="tableName"/>
        set balance = balance - #{payAmount}
        where user_id = #{userId}
        and balance >= #{payAmount}
        and #{payAmount} >= 0
    </update>


    <delete id="deleteById">
        delete from
        <include refid="tableName"/>
        where id = #{id}
    </delete>
    <delete id="deleteByUserId">
        delete from
        <include refid="tableName"/>
        where user_id = #{userId}
    </delete>

    <select id="getUserWalletByUserId" resultType="com.czy.api.domain.Do.purchase.UserWalletDo">
        select *
        from
        <include refid="tableName"/>
        where user_id = #{userId}
    </select>
    <select id="getUserWalletAndLockByUserId" resultType="com.czy.api.domain.Do.purchase.UserWalletDo">
        select *
        from
        <include refid="tableName"/>
        where user_id = #{userId}
        for update
    </select>
</mapper>