<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.user.mysql.relation.UserFriendMapper">

    <resultMap id="friendViewResultMap" type="com.czy.api.domain.entity.FriendViewEntity">
        <!-- 父类 UserViewEntity 的字段 -->
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="avatarFileId" column="avatarFileId"/>
        <result property="userAccount" column="userAccount"/>
        <!-- 子类 FriendViewEntity 的字段 -->
        <result property="remark" column="remark"/>
    </resultMap>


    <sql id="doColumns">
        user_id, friend_id, add_time, last_chat_time,
        remark_user_for_friend,
        remark_friend_for_user
    </sql>
    <sql id="insertValue">
        #{userId}, #{friendId}, #{addTime}, #{lastChatTime},
        #{remarkUserForFriend},
        #{remarkFriendForUser}
    </sql>
    <insert id="addUserFriend">
        insert into
        user_friend(<include refid="doColumns"/>)
        values(<include refid="insertValue"/>)
    </insert>
    <update id="updateUserFriend">
        update user_friend
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="friendId != null">
                friend_id = #{friendId},
            </if>
            <if test="addTime != null">
                add_time = #{addTime},
            </if>
            <if test="lastChatTime != null">
                last_chat_time = #{lastChatTime},
            </if>
            <if test="remarkUserForFriend != null">
                remark_user_for_friend = #{remarkUserForFriend},
            </if>
            <if test="remarkFriendForUser != null">
                remark_friend_for_user = #{remarkFriendForUser},
            </if>
        </set>
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId})
    </update>
    <delete id="deleteUserFriend">
        DELETE FROM user_friend
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId})
    </delete>
    <select id="getUserFriend" resultType="com.czy.api.domain.Do.relationship.UserFriendDo">
        SELECT *
        FROM user_friend
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId})
    </select>
    <select id="getUserFriends" resultType="com.czy.api.domain.Do.relationship.UserFriendDo">
        SELECT *
        FROM user_friend
        WHERE user_id = #{userId}
            OR friend_id = #{userId}
    </select>
    <select id="getUserFriendsCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_friend
        WHERE user_id = #{userId}
            OR friend_id = #{userId}
    </select>
    <select id="isFriend" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_friend
        WHERE (user_id = #{userId} AND friend_id = #{friendId})
           OR (user_id = #{friendId} AND friend_id = #{userId})
    </select>
    <!--  考虑到user_id在userFriend表中可能是user,也可能是friend,所以内连接两次  -->
<!--
SELECT
      lu.account,
      lu.user_name,
      luf.avatar_file_id
 FROM
      login_user lu JOIN user_friend uf
      ON (lu.id = uf.user_id OR lu.id = uf.friend_id)
WHERE lu.account = #{userAccount}
-->
    <select id="getUsersViewByAccount" resultType="com.czy.api.domain.entity.UserViewEntity">
        SELECT
            lu2.id AS userId,
            lu2.user_name AS userName,
            lu2.avatar_file_id AS avatarFileId,
            lu2.account AS userAccount
        FROM login_user lu
                 JOIN user_friend uf ON (uf.user_id = lu.id OR uf.friend_id = lu.id)
                 JOIN login_user lu2 ON (
            (uf.user_id = lu.id AND uf.friend_id = lu2.id) OR
            (uf.friend_id = lu.id AND uf.user_id = lu2.id)
            )
        WHERE lu.account = #{userAccount}
    </select>
    <select id="getUsersViewByUserId" resultType="com.czy.api.domain.entity.UserViewEntity">
        SELECT
            lu2.id AS userId,
            lu2.user_name AS userName,
            lu2.avatar_file_id AS avatarFileId,
            lu2.account AS userAccount
        FROM login_user lu
                 JOIN user_friend uf ON (uf.user_id = lu.id OR uf.friend_id = lu.id)
                 JOIN login_user lu2 ON (
            (uf.user_id = lu.id AND uf.friend_id = lu2.id) OR
            (uf.friend_id = lu.id AND uf.user_id = lu2.id)
            )
        WHERE lu.id = #{userId}
    </select>
    <select id="getFriendsViewByUserId" resultMap="friendViewResultMap">
        SELECT
            CASE
                WHEN uf.user_id = #{userId} THEN uf.friend_id
                ELSE uf.user_id
            END AS userId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.user_name
                ELSE luu.user_name
            END AS userName,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.avatar_file_id
                ELSE luu.avatar_file_id
            END AS avatarFileId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.account
                ELSE luu.account
            END AS userAccount,
            CASE
                WHEN uf.user_id = #{userId} THEN uf.remark_user_for_friend  -- 作为user, remark_user_for_friend是他备注别人
                ELSE uf.remark_friend_for_user                              -- 作为friend, remark_friend_for_user是他备注别人
            END AS remark
        FROM user_friend uf
        JOIN login_user luu ON uf.user_id = luu.id
        JOIN login_user luf ON uf.friend_id = luf.id
        WHERE
            uf.user_id = #{userId} OR
            uf.friend_id = #{userId}
    </select>
    <select id="getFriendsViewByUserIdFriendId" resultType="com.czy.api.domain.entity.FriendViewEntity">
        SELECT
            CASE
                WHEN uf.user_id = #{userId} THEN uf.friend_id
                ELSE uf.user_id
            END AS userId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.user_name
                ELSE luu.user_name
            END AS userName,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.avatar_file_id
                ELSE luu.avatar_file_id
            END AS avatarFileId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.account
                ELSE luu.account
            END AS userAccount,
            CASE
                WHEN uf.user_id = #{userId} THEN uf.remark_user_for_friend
                ELSE uf.remark_friend_for_user
            END AS remark
        FROM user_friend uf
        JOIN login_user luu ON uf.user_id = luu.id
        JOIN login_user luf ON uf.friend_id = luf.id
        WHERE
            (uf.user_id = #{userId} OR uf.friend_id = #{userId})
            AND (uf.friend_id = #{friendId} OR uf.user_id = #{friendId})
    </select>
    <select id="getFriendsViewByUserIdFriendsId" resultType="com.czy.api.domain.entity.FriendViewEntity">
        SELECT
            CASE
                WHEN uf.user_id = #{userId} THEN uf.friend_id
                ELSE uf.user_id
            END AS userId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.user_name
                ELSE luu.user_name
            END AS userName,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.avatar_file_id
                ELSE luu.avatar_file_id
            END AS avatarFileId,
            CASE
                WHEN uf.user_id = #{userId} THEN luf.account
                ELSE luu.account
            END AS userAccount,
            CASE
                WHEN uf.user_id = #{userId} THEN uf.remark_user_for_friend
                ELSE uf.remark_friend_for_user
            END AS remark
        FROM user_friend uf
        JOIN login_user luu ON uf.user_id = luu.id
        JOIN login_user luf ON uf.friend_id = luf.id
        WHERE
            (uf.user_id = #{userId} OR uf.friend_id = #{userId})
            <if test="friendsId != null and friendsId.size() > 0">
                AND ((uf.friend_id IN
                        <foreach item="friendId" collection="friendsId" open="(" separator="," close=")">
                            #{friendId}
                        </foreach>
                ) OR (uf.user_id IN
                        <foreach item="friendId" collection="friendsId" open="(" separator="," close=")">
                            #{friendId}
                        </foreach>
                ))
            </if>
    </select>

</mapper>