# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/

# Data files
data/
# *.csv
*.tsv
*.xlsx
*.json
# *.h5

# Model files
models/
# *.h5
*.pkl
*.pt

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# IDE config files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db